@font-face
  font-family: 'YummyIcons'
  font-style: normal
  font-weight: normal
  src: url('#{$yummy-icon-font-path}/YummyIcons.oet'), url('#{$yummy-icon-font-path}/YummyIcons.oet?#iefix') format('embedded-opentype'), url('#{$yummy-icon-font-path}/YummyIcons.woff') format('woff'), url('#{$yummy-icon-font-path}/YummyIcons.ttf') format('truetype'), url('#{$yummy-icon-font-path}/YummyIcons.svg#YummyIcons') format('svg')
